## DATASETS

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df1=pd.read_excel(r"C:\Users\Admin\BUSOFTTECH\Sample Data\Categories.xlsx")

In [4]:
new_header = df1.iloc[0] 
df1 = df1[1:] 
df1.columns = new_header

In [5]:
df1.head()

0          Category   ID
1            Oracle  245
2        Sharepoint  247
3  Business Process  248
4    Infrastructure  249
5         Telephony  250

In [17]:
df1.shape

(47, 2)

In [6]:
df2=pd.read_excel(r"C:\Users\Admin\BUSOFTTECH\Sample Data\Contacts.xlsx")
new_header = df2.iloc[0] 
df2 = df2[1:] 
df2.columns = new_header
df2.head()

,First Name,Last Name,Email Address,Address Line 1,Address Line 2,Address Line 3,City,Contact Type,Country,County,Date Created,Date Last Updated,Date Of Birth,Disabled Flag,Contact ID
1,Paul,Farmer,b.sexton@mind.org.uk.invalid,No Value,No Value,No Value,London,No Value,No Value,No Value,27/04/2009 14:45,25/09/2020 07:16,No Value,No,237
2,Gillian,Barker,gillianbarker@caravan-charity.org.uk.invalid,No Value,No Value,No Value,No Value,No Value,No Value,No Value,28/04/2009 15:09,25/09/2020 07:16,No Value,No,377
3,James,Brewster,info@licensedtradecharity.org.uk.invalid,No Value,No Value,No Value,No Value,No Value,No Value,No Value,28/04/2009 15:09,25/09/2020 07:16,No Value,No,398
4,David,Sulkin,davis.sulkin@helpmusicians.org.uk.invalid,No Value,No Value,No Value,London,No Value,No Value,No Value,15/07/2010 09:21,25/09/2020 07:16,No Value,No,399
5,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,No Value,No Value,No Value,No Value,No Value,No Value,No Value,28/04/2009 15:09,25/09/2020 07:16,No Value,No,402

In [18]:
df2.shape

(2074, 15)

In [7]:
df3=pd.read_excel(r"C:\Users\Admin\BUSOFTTECH\Sample Data\Incidents.xlsx")
new_header = df3.iloc[0] 
df3 = df3[1:] 
df3.columns = new_header
df3.head()

,Reference #,Incident ID,Assigned Account,Severity,Status,Status Type,Subject,Product ID,Organisation ID,Date Closed,Date Created,Contact ID,Category ID
1,100825-000001,2554,Stephen Pickett,No Value,Solved,Solved,A4e Professional Services work,No Value,1,25/08/2010 12:00,25/08/2010 12:00,573,No Value
2,101004-000000,2601,Adam Wilkinson,No Value,Solved,Solved,Measuring effectiveness increases effectiveness,No Value,29,11/01/2011 12:07,04/10/2010 09:22,402,No Value
3,101102-000000,2619,Stephen Pickett,No Value,Solved,Solved,Infoco Answer Export Tool,RightNow,560,02/11/2010 12:05,02/11/2010 12:05,2157,No Value
4,101102-000001,2620,Chris Farmer,Medium,Solved,Solved,THA: The Family Information Direct/Helplines S...,No Value,562,24/02/2011 13:56,02/11/2010 12:46,2144,No Value
5,101105-000000,2632,Alan Cheng,Medium,Solved,Solved,incident screen freezing incident - Ref 100924...,Instance Freezing,473,16/02/2011 15:09,05/11/2010 09:50,1983,No Value

In [19]:
df3.shape

(19408, 13)

In [8]:
df4=pd.read_excel(r"C:\Users\Admin\BUSOFTTECH\Sample Data\Products.xlsx")
new_header = df4.iloc[0] 
df4 = df4[1:] 
df4.columns = new_header
df4.head()

0         Product  ID
1        RightNow  36
2    Phone System  40
3        Software  41
4        Hardware  42
5  Server/Network  43

In [13]:
df5=pd.read_excel(r"C:\Users\Admin\BUSOFTTECH\Sample Data\Threads.xlsx")
new_header = df5.iloc[0] 
df5 = df5[1:] 
df5.columns = new_header
df5.head()

,Foreign Key,Incident Thread ID,Account,Attributes,Date Created,Contact ID,Channel ID,Email Header,Sequence,SmartSense Indicator,Text,Thread Entry Type
1,2601,2773,No Value,No Value,04/10/2010 09:22,402,MA Email,No Value,1,0,\n\n==================== text File Attachment ...,Customer
2,2632,2809,No Value,No Value,05/11/2010 09:50,1983,CSS Web,No Value,1,5,Agents are experiencing an issue with Rightnow...,Customer
3,2601,2839,Stephen Pickett,No Value,11/01/2011 11:58,0,No Value,No Value,1,0,"Ad, see the attachment.",Note
4,2655,2842,No Value,No Value,12/01/2011 10:36,1243,CSS Web,No Value,1,-2,the phone display states \nNo service\nTrying ...,Customer
5,2655,2843,Alan Cheng,No Value,12/01/2011 11:02,0,Email,No Value,1,-48,"Had a look, appears to be a network port issue...",Staff Account

In [20]:
df5.shape

(100000, 12)

In [24]:
D1= pd.merge(df2,df3, left_on = ['Contact ID'], right_on = ['Contact ID'])

In [25]:
D1.columns

Index(['First Name', 'Last Name', 'Email Address', 'Address Line 1',
       'Address Line 2', 'Address Line 3', 'City', 'Contact Type', 'Country',
       'County', 'Date Created_x', 'Date Last Updated', 'Date Of Birth',
       'Disabled Flag', 'Contact ID', 'Reference #', 'Incident ID',
       'Assigned Account', 'Severity', 'Status', 'Status Type', 'Subject',
       'Product ID', 'Organisation ID', 'Date Closed', 'Date Created_y',
       'Category ID'],
      dtype='object', name=0)

In [16]:
D1.shape

(2074, 29)

In [ ]:
Data['Severity'].unique()

In [26]:
d1= pd.merge(D1,df5, left_on = ['Incident ID'], right_on = ['Foreign Key'])

In [27]:
d1.shape

(100000, 39)

In [28]:
d1=d1.drop(['Address Line 1', 'Address Line 2',
       'Address Line 3', 'City','Country', 'County','Product ID','Date Of Birth', 'Disabled Flag','Category ID','Contact Type','Date Created','Date Created_y','Email Header','Status','Status Type','Subject','Severity','Incident Thread ID','Account','Attributes'],axis=1)

In [29]:
d1

,First Name,Last Name,Email Address,Date Created_x,Date Last Updated,Contact ID_x,Reference #,Incident ID,Assigned Account,Organisation ID,Date Closed,Foreign Key,Contact ID_y,Channel ID,Sequence,SmartSense Indicator,Text,Thread Entry Type
0,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,101004-000000,2601,Adam Wilkinson,29,11/01/2011 12:07,2601,402,MA Email,1,0,\n\n==================== text File Attachment ...,Customer
1,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,101004-000000,2601,Adam Wilkinson,29,11/01/2011 12:07,2601,0,No Value,1,0,"Ad, see the attachment.",Note
2,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,111221-000007,3609,Alan Cheng,29,03/08/2012 17:49,3609,0,No Value,1,0,Requested a test site refresh. RN CC ref: 1203...,Note
3,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,111221-000007,3609,Alan Cheng,29,03/08/2012 17:49,3609,0,No Value,1,0,Raised Incident regarding problems saving and ...,Note
4,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,111221-000007,3609,Alan Cheng,29,03/08/2012 17:49,3609,0,No Value,1,0,Requested that the time change to GMT. RightNo...,Note
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Lighthouse,Construction Industry Charity,re-3yqu-14459-362obz-c0yqm@lighthouse-club.org...,31/03/2020 12:01,31/03/2020 12:01,60065,200331-000010,22164,Craig Seagrave,0,31/03/2020 12:38,22164,0,No Value,1,0,closing\n,Note
99996,Natasha,Hawkes,natasha.hawkes@migranthelpuk.org.invalid,02/04/2020 12:07,07/09/2020 11:47,60066,200402-000010,22190,Robert Webb,12446,02/04/2020 12:11,22190,0,Email,1,0,"<div style=""margin:0px 0px 0px 0px;text-align:...",Customer Proxy
99997,Natasha,Hawkes,natasha.hawkes@migranthelpuk.org.invalid,02/04/2020 12:07,07/09/2020 11:47,60066,200402-000010,22190,Robert Webb,12446,02/04/2020 12:11,22190,0,Email,2,21,"<div>Dear Natasha,<br />\n<br />\n<span>Thank ...",Staff Account
99998,Macy,Hibbert,macy.hibbert@migranthelpuk.org.invalid,02/04/2020 13:18,03/04/2020 08:04,60067,200402-000012,22191,Robert Webb,12446,02/04/2020 13:26,22191,60067,CSS Email,1,4,Hello\n\nPlease can you reset my ELLIS passwor...,Customer
99999,Macy,Hibbert,macy.hibbert@migranthelpuk.org.invalid,02/04/2020 13:18,03/04/2020 08:04,60067,200402-000012,22191,Robert Webb,12446,02/04/2020 13:26,22191,0,Email,1,14,"Dear Macy,\n\nThank you for contacting the Sup...",Staff Account

In [30]:
d1.head()

,First Name,Last Name,Email Address,Date Created_x,Date Last Updated,Contact ID_x,Reference #,Incident ID,Assigned Account,Organisation ID,Date Closed,Foreign Key,Contact ID_y,Channel ID,Sequence,SmartSense Indicator,Text,Thread Entry Type
0,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,101004-000000,2601,Adam Wilkinson,29,11/01/2011 12:07,2601,402,MA Email,1,0,\n\n==================== text File Attachment ...,Customer
1,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,101004-000000,2601,Adam Wilkinson,29,11/01/2011 12:07,2601,0,No Value,1,0,"Ad, see the attachment.",Note
2,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,111221-000007,3609,Alan Cheng,29,03/08/2012 17:49,3609,0,No Value,1,0,Requested a test site refresh. RN CC ref: 1203...,Note
3,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,111221-000007,3609,Alan Cheng,29,03/08/2012 17:49,3609,0,No Value,1,0,Raised Incident regarding problems saving and ...,Note
4,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,28/04/2009 15:09,25/09/2020 07:16,402,111221-000007,3609,Alan Cheng,29,03/08/2012 17:49,3609,0,No Value,1,0,Requested that the time change to GMT. RightNo...,Note

In [35]:
!pip install afinn

Collecting afinn
  Downloading afinn-0.1.tar.gz (52 kB)
Building wheels for collected packages: afinn
  Building wheel for afinn (setup.py): started
  Building wheel for afinn (setup.py): finished with status 'done'
  Created wheel for afinn: filename=afinn-0.1-py3-none-any.whl size=53455 sha256=acca911b0af0e048ca7816402dabeaf1a70c428fe32c67f60111590d0a7890e2
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\f6\6f\c3\b305c5107a17618f2938a067d5ffcbb556909d82398762089e
Successfully built afinn
Installing collected packages: afinn
Successfully installed afinn-0.1

In [36]:
from nltk.corpus import stopwords

In [31]:
column_titles = ['Contact ID','Assigned Account','First Name','Last Name','Email Address','Text']
d2 = d1.reindex(columns=column_titles)

In [33]:
d2=d2.drop(['Contact ID'],axis=1)
d2.head()

,Assigned Account,First Name,Last Name,Email Address,Text
0,Adam Wilkinson,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,\n\n==================== text File Attachment ...
1,Adam Wilkinson,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,"Ad, see the attachment."
2,Alan Cheng,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,Requested a test site refresh. RN CC ref: 1203...
3,Alan Cheng,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,Raised Incident regarding problems saving and ...
4,Alan Cheng,Bernard,Kelly,bernard.kelly@pharmacistsupport.org.invalid,Requested that the time change to GMT. RightNo...

In [41]:
from nltk.stem import WordNetLemmatizer
from collections import Counter
import re

In [37]:
 d2['TEXT'] = d2['Text'].str.lower().str.replace("'", '').str.replace('[^\w\s]', ' ').str.replace(" \d+", " ").str.replace("\n", " ").str.replace(' +', ' ').str.strip()

In [39]:
d2=d2.drop(['First Name','Last Name','Text'],axis=1)
d2.head()

,Assigned Account,Email Address,TEXT
0,Adam Wilkinson,bernard.kelly@pharmacistsupport.org.invalid,text file attachment attachment txt bytes adde...
1,Adam Wilkinson,bernard.kelly@pharmacistsupport.org.invalid,ad see the attachment
2,Alan Cheng,bernard.kelly@pharmacistsupport.org.invalid,requested a test site refresh rn cc ref
3,Alan Cheng,bernard.kelly@pharmacistsupport.org.invalid,raised incident regarding problems saving and ...
4,Alan Cheng,bernard.kelly@pharmacistsupport.org.invalid,requested that the time change to gmt rightnow...

In [40]:
d2.to_csv('final.csv')

### Next Task : Supervised with Sentiment Scores